<?xml version="1.0" encoding="UTF-8"?>

<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <global-method-security secured-annotations="enabled" />

    <beans:bean id="loggerListener" class="org.springframework.security.authentication.event.LoggerListener" />

    <http>
        <form-login login-processing-url="/static/j_spring_security_check" login-page="/login.xhtml" authentication-failure-url="/login.xhtml?login_error=t" />
        <http-basic />
        
        <intercept-url pattern="/login.xhtml" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/resources/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/student.xhtml" access="ROLE_teacher" />
          <!-- kdybychom pridali atribut requires-channel="https", vynuti to pouziti SSL -->
        <intercept-url pattern="/**" access="ROLE_student,ROLE_teacher" />
        
        <logout logout-url="/static/j_spring_security_logout" />
    </http>
    
    <authentication-manager>
        <authentication-provider>
            <!--user-service>
                <user name="teacher" password="t" authorities="ROLE_teacher, ROLE_student" />
                <user name="student" password="s" authorities="ROLE_student" />
            </user-service-->
            <jdbc-user-service data-source-ref="dataSource"
                users-by-username-query="SELECT username,password,true FROM person WHERE username=?"
                authorities-by-username-query="SELECT username,groupname FROM person WHERE username=?"
                role-prefix="ROLE_" />
            <!--password-encoder base64="false" hash="plaintext" /-->
            <password-encoder base64="false" hash="sha" />
        </authentication-provider>
    </authentication-manager>
    
</beans:beans>